---
import Blog from "../components/Blog.astro";
import BasicLayout from "../Layouts/BasicLayout.astro";
import Container from "../Layouts/Container.astro";
---

<BasicLayout>
  <Container size="xl" class="mb-4">
    <h1 class="font-bold text-[3rem] mb-2">My Blog</h1>
    <p>
      Welcome to my blog! Here, I share my thoughts on web development,
      programming tips, and the latest trends in technology. Stay tuned for
      insightful articles and tutorials that will help you become a better
      developer.
    </p>
  </Container>
  <Blog>
    <p class="animate-pulse">Fetching Blog Posts..</p>
  </Blog>
</BasicLayout>
