---
import Container from "../Layouts/Container.astro";
import Post from "./Post.astro";

// Fetch data from the Google Sheets Service URL
const res = await fetch(
  "https://script.googleusercontent.com/macros/echo?user_content_key=KO6PysfeRbNAPfY3q2Uq2m6AFQCjb780vMLZf4bRydYGRJ1iNYQbeMM9qoGBfcc9yW-YNjcVUZFb-3Pwtd7QrHiWIKtVrHy6m5_BxDlH2jW0nuo2oDemN9CCS2h10ox_1xSncGQajx_ryfhECjZEnDN1gkdyndjeMCu2skDOiKNPfBOvlQbZtAm3--ixLHqWgCqIljIWYIsCpTgcrr4fV0WawHKZSYNbajy6SpOcqnJ3mOqwrFyK-tz9Jw9Md8uu&lib=MatgvNypw4b4slrx6FANXG0EnS39sQUSa"
);

// Parse the response as JSON
const data = await res.json();

interface Post {
  Title: string;
  Author: string;
  Date: string;
  Content: string;
}
---

<Container size="xl">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2">
    {
      data.date.map((post: Post) => (
        <Post
          title={post.Title}
          author={post.Author}
          date={post.Date}
          content={post.Content}
        />
      ))
    }
  </div>  
</Container>